<!DOCTYPE HTML>
<html>
    <head>
        <title>Example</title>
    </head>
    <body>
    
    <button id="send">SEND</button>
    <button id="bind">BIND</button>
    <p id="p1">This is before text</p>

<script src="http://js.pusher.com/2.0/pusher.min.js"></script>
 <script type="text/javascript">
 // If your Heroku application is within the EU region,
 // uncomment the followling lines
 // Pusher.host = 'ws-eu.pusher.com';
 // Pusher.sockjs_host = 'sockjs-eu.pusher.com';

 var pusher = new Pusher('<%= Pusher.key %>'); // uses your APP KEY
 var channel = pusher.subscribe('test_channel');
 channel.bind('greet', function(data) {
   alert(data.greeting);
 });
 
 channel.bind('binding', function(data) {
  document.getElementById("p1").innerHTML = "This is after binding text!";
  });


 document.getElementById("bind").onclick = bindPress;
  
 function bindPress() {
   
   $.get('/welcome/binding', function(data){});
   
    }
 
 </script>
 
    </body>
</html>